{% extends "base.html" %}
{% block content %}
<div class="border border-light p-3 mb-4">
<div class="d-flex align-items-center justify-content-center">
<form method="post" novalidate action="/response">
  
    <div class="form-group text-center">
      {{ form.transaction(placeholder='$10',
                    autofocus='true',
                    type='textfield',
                    spellcheck='false') }}
      {% if form.transaction.errors -%}
      <span>{{ form.transaction.errors[0] }}</span>
      {%- endif %}
    </div>
    <div class="form-group text-center">
      {{ form.note(placeholder="Burger King") }}
      {% if form.note.errors -%}
      <span>{{ form.note.errors[0] }}</span>
      {%- endif %}
    </div>
    <div class="form-group text-center">
      {{ form.date_of_transaction(placeholder="2022-06-28") }}
      {% if form.date_of_transaction.errors -%}
      <span>{{ form.date_of_transaction.errors[0] }}</span>
      {%- endif %}
    </div>
    <div class="form-group text-center">
      {{ form.categories }}
      {% if form.categories.errors -%}
      <span>{{ form.categories.errors[0] }}</span>
      {%- endif %}
    </div>
    <br></br>
    <div class="text-center">
    <button class="btn btn-outline-success me-2 text-center" type="submit">Submit transaction</button>
    </div>
  </form>
</div>
</div>

{% endblock %}