{% extends "base.html" %}

 {% block content %}
  <body>

    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total expenses</h5>
        <p class="card-text">{{ sum }}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Remaining Balance</h5>
        <p class="card-text">{{ balance }}</p>
      </div>
    </div>
  </div>
</div>
<br></br>
    <h1>Transactions</h1>
    <table class="table">
    
    <tr>
        <th>Amount</th>
        <th>Note</th>
        <th>Date</th>
        <th>Categories</th>
    </tr>
        <tr>
        {% for transaction in page.object_list %}
        <th scope="col">{{ transaction.amount }} </th>
        <th scope="col"><a href="#" data-bs-toggle="modal" data-bs-target="#updateModal" data-bs-description="{{ transaction.note }}" data-bs-category="{{ transaction.categories }}" data-bs-date="{{ transaction.date }}" data-bs-amount="{{ transaction.amount }}" >{{ transaction.note }}</a></th>
        <th scope="col">{{ transaction.date }} </th>
        <th scope="col"> {{ transaction.categories }}</th>  
    </tr>
    {% endfor%}
    </table>



<div>
{% if page.has_previous %}
    <a class="button" href="?page=1">First</a>
    <a class="button" href="?page={{ page.previous_page_number }}">Previous</a>
{% endif %}
</div>
<div>Page {{ page.number }} of {{ paginator.num_pages }} - {{ paginator.count }} record{% if paginator.count != 1 %}s{% endif %}</div>
<div>
{% if page.has_next %}
    <a class="button" href="?page={{ page.next_page_number }}">Next</a>
    <a class="button" href="?page={{ paginator.num_pages }}">Last</a>
{% endif %}
</div>

  </body>

  <!--Edit Modal-->
  <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <form id="editTransaction"action="/transactions" method="post">
        <label for="oldname" class="col-form-label">Old Name:</label>
        <input type="text" class="form-control" name="oldname" id="oldname" value="" form="editTransaction"readonly>
      <div class="modal-body text-center">
     <label for="newname" class="col-form-label">New Name:</label>
      <input type="text" class="form-control" name="newname" id="newname" form="editTransaction">
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="submit" name="btnEditTransaction" form="editTransaction">Update</button>
    </div>
    </form> 
    </div>     
  </div>
</div>
</div>

<script scr=/static/js/deletemodal.js></script>
{% endblock %}
