{% extends "base.html" %}

 {% block content %}
  <body>

    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total expenses</h5>
        <p class="card-text">{{ "%.2f"|format(sum) }}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Remaining Balance</h5>
        {% if income %}
        {% set bank_balance = (balance|float + income|float) - expenses|float %}
        <p class="card-text">{{ "%.2f"|format(bank_balance) }}</p>
        {% elif income is none %}
        {% set bank_balance = balance|float - expenses|float %}
        <p class="card-text">{{ "%.2f"|format(bank_balance) }}</p>
        {% else %}
        <p class="card-text"><a href="/first_login">Update balance</a></p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<br></br>
    <h1>Transactions</h1>
    <table class="table" id="transaction-table">
    
    <tr>
        <th>Recipient</th>
        <th>Amount</th>
        <th>Note</th>
        <th>Categories</th>
        <th>Date</th>
    </tr>
        <tr>
        {% for transaction in page.object_list %}
        <th scope="col">{{  transaction.recipient }} </th>
        <th scope="col">{{ "%.2f"|format(transaction.amount) }} </th>
        <th scope="col"><a href="#" data-bs-toggle="modal" data-bs-target="#updateModal" data-bs-description="{{ transaction.note }}" data-bs-category="{{ transaction.categories }}" data-bs-date="{{ transaction.date }}" ="{{ transaction.date_added }}" data-bs-submit-time="{{ transaction.date_added }}" data-bs-amount="{{ transaction.amount }}" >{{ transaction.note }}</a></th>
        <th scope="col"> {{ transaction.categories }}</th>  
        <th scope="col">{{ transaction.date }} </th>
    </tr>
    {% endfor%}
    </table>



<div>
{% if page.has_previous %}
    <a class="button" href="?page=1">First</a>
    <a class="button" href="?page={{ page.previous_page_number }}">Previous</a>
{% endif %}
</div>
<div>Page {{ page.number }} of {{ paginator.num_pages }} - {{ paginator.count }} record{% if paginator.count != 1 %}s{% endif %}</div>
<div>
{% if page.has_next %}
    <a class="button" href="?page={{ page.next_page_number }}">Next</a>
    <a class="button" href="?page={{ paginator.num_pages }}">Last</a>
{% endif %}
</div>

  </body>

  <!--Edit Modal-->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <form id="updateTransaction"action="/update_or_delete_transaction" method="post">
        <label for="oldname" class="col-form-label"hidden>Old Description:</label>
        <input type="text" class="form-control" name="oldname" id="oldname" value="" form="updateTransaction"readonly required hidden>
      <div class="modal-body text-center">
     <label for="newname" class="col-form-label">Description:</label>
      <input type="text" class="form-control" name="newname" id="newname" form="updateTransaction">
    </div>
    <div class="modal-body text-center">
     <label for="oldamount" class="col-form-label" hidden>Old Amount:</label>
      <input type="text" class="form-control" name="oldamount" id="amount" form="updateTransaction" readonly required hidden>
    </div>
    <div class="form-group">
      <label for="date" class="col-form-label" hidden>Old Date:</label>
      <input type="date" class="form-control" name="olddate" id="olddate" value="" form="updateTransaction" required readonly hidden>
    </div>
      <div class="form-group">
      <label for="date" class="col-form-label" hidden>Submit Time:</label>
      <input type="hidden" class="form-control" name="submitTime" id="submitTime" value="" form="updateTransaction" required readonly>
    </div>
    <div class="form-group">
              <label for="oldcategory" class="col-form-label" hidden>Old Category:</label>
              <select id="oldcategory" class="form-control-sm" name="oldcategory" form="updateTransaction" required readonly hidden>
                {% for category in categories %}
                  <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
              </select>
            </div>
    <div class="modal-body text-center">
     <label for="newamount" class="col-form-label">Amount:</label>
      <input type="text" class="form-control" name="newamount" id="newamount" form="updateTransaction">
    </div>
    <div class="form-group">
      <label for="date" class="col-form-label">Date:</label>
      <input type="date" class="form-control" name="date" id="date" value="" form="updateTransaction" required>
    </div>
    <div class="form-group">
                  <label for="category" class="col-form-label">Category:</label>
                  <select id="category" class="form-control-sm" name="category" form="updateTransaction" required>
                    {% for category in categories %}
                      <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                  </select>
                </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="submit" name="btnUpdateTransaction" form="updateTransaction" value="Update">Update</button>
        <button class="btn btn-danger" type="submit" name="btnDeleteTransaction" form="updateTransaction" value="Delete">Delete</button>
    </div>
    </form> 
    </div>     
  </div>
</div>
</div>
<script src=/static/js/expenses.js>
</script>
{% endblock %}
