{% extends "base.html" %}

{% block content %}
<br>
<div class="row gx-5 gy-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title ">Remaining in category</h5>
        
        <p class="card-text">{{ "%.2f"|format(amount_remaining) }}</p>
      </div>
    </div>
  </div>
 <h1>Transactions</h1>
    <table class="table" id="transaction-table">

    <tr>
        <th>Recipient</th>
        <th>Amount</th>
        <th>Note</th>
        <th>Categories</th>
        <th>Date</th>
    </tr>
        <tr>
        {% for transaction in page.object_list %}

        <th scope="col"><a href="#" class="link-primary" data-bs-toggle="modal" data-bs-target="#updateModal" data-bs-recipient="{{ transaction.recipient }}" data-bs-description="{{ transaction.note }}" data-bs-category="{{transaction.categories}}" data-bs-date="{{ transaction.date }}" data-bs-date-added="{{ transaction.date_added }}" data-bs-submit-time="{{ transaction.date_added }}" data-bs-amount="{{ transaction.amount }}" >{{ transaction.recipient }}</a></th>
        <th scope="col">{{ "%.2f"|float(transaction.amount) }} </th>
        <th scope="col">{{ transaction.note }}
        <th scope="col">{{transaction.categories.split('~')[0]}}</th>
        <th scope="col">{{ transaction.date }} </th>
    </tr>
    {% endfor%}
    </table>
</div>

<div>
{% if page.has_previous %}
    <a class="page-link" href="?page=1">First</a>
    <a class="page-link" href="?page={{ page.previous_page_number }}">Previous</a>
{% endif %}
</div>
<div>Page {{ page.number }} of {{ paginator.num_pages }} - {{ paginator.count }} record{% if paginator.count != 1 %}s{% endif %}</div>
<div>
{% if page.has_next %}
    <a class="page-link" href="?page={{ page.next_page_number }}">Next</a>
    <a class="page-link" href="?page={{ paginator.num_pages }}">Last</a>
{% endif %}
</div>

 <!--Edit Modal-->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <form id="updateTransaction"action="/update_or_delete_transaction" method="post">
        <label for="old_recipient" class="col-form-label" hidden>Old Recipient:</label>
        <input type="text" class="form-control" name="old_recipient" id="old_recipient" value="" form="updateTransaction"readonly required hidden>
      <div class="modal-body text-center">
        <label for="oldname" class="col-form-label" hidden>Old Description:</label>
        <input type="text" class="form-control" name="oldname" id="oldname" value="" form="updateTransaction"readonly required hidden>
      <div class="modal-body text-center">
     <label for="newrecipient" class="col-form-label">Recipient:</label>
      <input type="text" class="form-control" name="newrecipient" id="newrecipient" form="updateTransaction" required>
    </div>
        <div class="modal-body text-center">
     <label for="newname" class="col-form-label">Description:</label>
      <input type="text" class="form-control" name="newname" id="newname" form="updateTransaction">
    </div>
    <div class="modal-body text-center">
     <label for="oldamount" class="col-form-label" hidden>Old Amount:</label>
      <input type="text" class="form-control" name="oldamount" id="oldamount" form="updateTransaction" readonly required hidden>
    </div>
    <div class="form-group">
      <label for="date" class="col-form-label"hidden>Old Date:</label>
      <input type="date" class="form-control" name="olddate" id="olddate" value="" form="updateTransaction" required readonly hidden>
    </div>
      <div class="form-group">
      <label for="date" class="col-form-label" hidden>Submit Time:</label>
      <input type="text" class="form-control" name="submitTime" id="submitTime" value="" form="updateTransaction" required readonly hidden>
    </div>
    <div class="form-group">
               <label for="old-category" class="col-form-label" hidden>Old Category:</label>
                  <select id="old-category" class="form-control-sm" name="old-category" form="updateTransaction" required readonly hidden>
                    {% for category in categories %}
                      <option value="{{ category }}">{{ category.split('~')[0] }}</option>
                    {% endfor %}
                  </select>
            </div>
    <div class="modal-body text-center">
     <label for="newamount" class="col-form-label">Amount:</label>
      <input type="text" class="form-control" name="newamount" id="newamount" form="updateTransaction" required>
    </div>
    <div class="form-group">
      <label for="date" class="col-form-label">Date:</label>
      <input type="date" class="form-control" name="date" id="date" value="" form="updateTransaction" required>
    </div>
    <div class="form-group">
                  <label for="category" class="col-form-label">Category:</label>
                  <select id="category" class="form-control" name="category" form="updateTransaction" required>
                    {% for category in categories %}
                      <option value="{{ category }}">{{ category.split('~')[0] }}</option>
                    {% endfor %}
                  </select>
                </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="submit" name="btnUpdateTransaction" form="updateTransaction" value="Update">Update</button>
        <button class="btn btn-danger" type="submit" name="btnDeleteTransaction" form="updateTransaction" value="Delete">Delete</button>
    </div>
    </form>
    </div>
  </div>
</div>
</div>
<script src=/static/js/expenses.js>
</script>
{% endblock%}
