{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
<div class="container-fluid">
<div class="col-md-12 text-center">
<br>
<button class="btn btn-outline-primary btn-block btn-lg" href="#" data-bs-toggle="modal" data-bs-name="expenseModal"data-bs-target="#expenseModal" data-category="{{ category }}">Add transaction</button>
<br>
<div class="modal fade" id="expenseModal" tabindex="-1" aria-labelledby="expenseModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="expenseModalTitle">Add transaction</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" id="expenseForm" action="/response">
        <div class="form-group text-center">
          <label class="col-form-label">Recipient:</label>
          {{ form.recipient(placeholder="Burger King", class_="form-control") }}
          <br>
          {% if form.recipient.errors -%}
          <span>{{ form.recipient.errors[0] }}</span>
          {%- endif %}
        </div>
    
    
      <div class="form-group text-center">
      {{ form.transaction(placeholder='10',
                    autofocus='true',
                    type='textfield',
                    spellcheck='false',
                    class_="form-control") }}
      {% if form.transaction.errors -%}
      <span>{{ form.transaction.errors[0] }}</span>
      {%- endif %}
    </div>
    <div class="form-group text-center">
      <label class="col-form-label">Note: </label>
      {{ form.note(placeholder="Dinner for two", class_="form-control") }}
      {% if form.note.errors -%}
      <span>{{ form.note.errors[0] }}</span>
      {%- endif %}
    </div>
    <div class="form-group text-center">
      <label>Date: </label>
      {{ form.date_of_transaction(class_="form-control") }}
      {% if form.date_of_transaction.errors -%}
      <span>{{ form.date_of_transaction.errors[0] }}</span>
      {%- endif %}
    </div>
    <div class="form-group text-center">
      <label>Category: </label>
      {{ form.categories(class_="form-control") }}
      {% if form.categories.errors -%}
      <span>{{ form.categories.errors[0] }}</span>
      {%- endif %}
    </div>
        <div class="form-group text-center">
      {{ form.date_added(class_="form-control") }}
      {% if form.date_added.errors -%}
      <span>{{ form.date_added.errors[0] }}</span>
      {%- endif %}
    </div>
    <br></br>
    <div class="text-center">
    <button class="btn btn-outline-success me-2 text-center" type="submit">Submit transaction</button>
    </div>
  </form>
 </div>
</div>
</div>
</div>
</div>


<div class="row gx-5 gy-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title ">Remaining to be Budgeted</h5>
        {% if balance %}
        <p class="card-text">{{ "%.2f"|format(balance) }}</p>
        {% else %}
        <p class="card-text"><a href="/first_login">Update balance</a></p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total Expenses</h5>
        <p class="card-text">{{ "%.2f"|format(expenses) }}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Monthly Spend</h5>
        <p class="card-text">Placeholder Value</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Income</h5>
        <p class="card-text">{{ income }}</p>
      </div>
    </div>
  </div>
</div>
<br></br>
<div class="row">
<div class="card"> 
<h4 class="card-title text-center">Last 5 transactions this month</h4>
</div>
</div>
<div>
<table class="table">
    
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Category</th>
        <th>Date</th>
    </tr>
        <tr>
        {% for recipient, amount, description, category_stripped, date in last_five %}
         <th scope="col">{{ recipient }} </th>
        <th scope="col">{{ amount }} </th>
        <th scope="col">{{ description }} </th>
        <th scope="col">{{ category_stripped }} </th>
          <th scope="col">{{ date }} </th>
    </tr>
</div>
</div>
</div>

{% endfor %}
{% endblock %}
