<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="StarBudget is a budgeting tool based on the envelope budgeting principle">
    <meta name="author" content="Matthew Blau">
    <script src="https://kit.fontawesome.com/61877275da.js" crossorigin="anonymous"></script>

    <title>StarBudget</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ 'static/css/bootstrap.min.css' }}" rel="stylesheet">
  </head>
<h3 class="text-center">Add Starting Balance</h3>
<div class="border border-light p-3 mb-4">
<div class="d-flex align-items-center justify-content-center">
<form method="post" action="/first_login_response">
    <div class="form-group text-center">
      {{ form.balance(placeholder="Balance") }}
      {% if form.balance.errors -%}
      <span>{{ form.balance.errors[0] }}</span>
      {%- endif %}
    </div>
    <div class="form-group text-center">
      {{ form.categories(placeholder="Category") }}
      {% if form.categories.errors -%}
      <span>{{ form.categories.errors[0] }}</span>
      {%- endif %}
    </div>
    <br></br>
    <div class="text-center">
    <button class="btn btn-outline-success me-2 text-center" type="submit">Submit</button>
    </div>
  </form>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
  </body>
</html>