<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="StarBudget is a budgeting tool based on the envelope budgeting principle">
    <meta name="author" content="Matthew Blau">
    <script src="https://kit.fontawesome.com/61877275da.js" crossorigin="anonymous"></script>

    <title>StarBudget</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ 'static/css/bootstrap.min.css' }}" rel="stylesheet">
  </head>

  <body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">StarBudget</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
  </div>
</nav>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" action="/auth/github_login" class="form" method="post">
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <button type="submit" formation="auth/github_login " class="form-control"/><i class="fa-brands fa-github"></i></button>
                            </div>
                            <div class="form-group" data-onsuccess="setup_auth">
                                <button type="submit" formaction="auth/login" onclick="location.href='/google_login';"class="form-control"/><i class="fa-brands fa-google"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
    {% block content %}{% endblock %}

    <footer class="container-fluid">
      <p class="col text-center">&copy; Matthew Blau 2022</p>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
  </body>
</html>
